<h2 class="tickethead">Tickets</h2>
<div class="ticket-section">    
    <div class="ticket-top">
    <div class="ticket-content">
        <div class="session float-l">
            <span class="session">Session</span>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        
        <div class="desknumber float-l">
        <label class="float-l deskno">desk:</label>
            <select class="select-desk">
                <option>Branch Name</option>
                <option>Branch Name</option>
                <option>Branch Name</option>
                <option>Branch Name</option>
            </select>
        </div>

        <div class="showhours float-r">
            <div class="float-l hour-sec">
                    <ul>
                        <li>
                            <span>00</span>
                            <label>Hours</label>
                        </li>
                        <li class="sep">:</li>
                        <li>
                                <span>00</span>
                                <label>Min</label>
                        </li>
                        <li class="sep">:</li>
                        <li>
                                <span>00</span>
                                <label>Sec</label>
                         </li>

                    </ul>
            </div>
            <div class="refresh-button float-l">
                <img src="assets/icons/refresh.svg" alt="" />
            </div>
        </div>

    </div>
    <div class="current-ticket">

        <div class="ticket-details float-r">
            <ul>
                
               
            </ul>
        </div>
    </div>
    
    <div class="clear"></div>
    <div class="ticket-info clearfix">
            <div class="ticket1 ticket float-l">
                    <div class="ticketcount">
                            <h3> current ticket </h3>
                            <h4> 45 </h4>
                            <h5>3.15 min</h5>
                        </div>
            </div>

            <div class="ticket2 ticket float-l">
                <ul>
                    <li><h5>ali alsari</h5></li>
                    <li><h5><span>New Customer</span><span>+966 552303045</span></h5></li>
                </ul>
            </div>

            <div class="ticket3 ticket float-l">
                    <span>
                            <img src="assets/icons/next.svg" alt="" />
                        </span>
                        <label>next</label>
            </div>
            <div class="ticket3-sub ticket float-l">
                    <div class="ticketcount">
                            <h3>Next ticket </h3>
                            <h4> 20 </h4>
                        </div>
            </div>


            <div class="ticket4 ticket float-r">
                    <div class="info float-l">
                            <label>no show</label>
                            <span>
                                <img src="assets/icons/no-show.svg" alt="" />
                            </span>
                           
                        </div>
                        <div class="info float-l">
                                <label>transfer</label>
                                <span>
                                    <img src="assets/icons/next.svg" alt="" />
                                </span>
                               
                            </div>
                            <div class="info float-l">
                                    <label>recall</label>
                                    <span>
                                        <img src="assets/icons/recall.svg" alt="" />
                                    </span>
                                   
                                </div>
            </div>
    
        </div>

    
    </div>
    
    <div class="ticket-botttom">
        <div class="remain bottom-info clearfix float-l">
            <div class="float-l info-left">
                    <img src="assets/icons/remaining.svg" alt="" />
            </div>
            <div class="float-l info-right">
                <h3>Remaining</h3>
                <h4>34</h4>
            </div>
        </div>

        <div class="upcoming bottom-info clearfix float-l">
                <div class="float-l info-left">
                        <img src="assets/icons/upcoming.svg" alt="" />
                </div>
                <div class="float-l info-right">
                    <h3>Upcoming</h3>
                    <h4>76</h4>
                </div>
        </div>

        <div class="skip bottom-info clearfix float-l">
                <div class="float-l info-left">
                        <img src="assets/icons/skip.svg" alt="" />
                </div>
                <div class="float-l info-right">
                    <h3>Skipped</h3>
                    <h4>06</h4>
                </div>
        </div>

        <div class="transfer bottom-info clearfix float-l">
                <div class="float-l info-left">
                        <img src="assets/icons/transfer.svg" alt="" />
                </div>
                <div class="float-l info-right">
                    <h3>Transferred</h3>
                    <h4>56</h4>
                </div>
        </div>

    </div>
    
</div>