<div class="header">
  <div class="title">
    <img class="logo" src="assets/images/logo.png">
  </div>
  <div class="header-right row">
    <div class="lang-dropdown col-md-4">
      <p-selectButton [options]="availableLanguages" [(ngModel)]="selectedLanguage"
                      (onChange)="onLanguageChange()"></p-selectButton>
    </div>
    <div class="control col-md-8" >
      <img class="alert" src="assets/images/arabic-icon.png">
      <img class="alert" src="assets/images/notification.svg">
      <img class="alert" src="assets/images/profile.svg">
      <img class="alert" src="assets/images/logout.svg">
    </div>
  </div>
  <!--  <div class="header-divider"></div>-->
</div>
