<div class="deskComponent">
    <h2 class="deskhead">Desks</h2>
    <div class="desksection">
    <div class="storecode float-l">
           <input type="text" class="inputstore" placeholder="Storecode" />
        </div>

        <div class="desknumber float-l">
            <select class="select-desk">
                <option>Desk Number</option>
                <option>Desk Number</option>
                <option>Desk Number</option>
                <option>Desk Number</option>
            </select>
        </div>

        <div class="session session2 status float-l">
            <span class="session">Status</span>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <div class="float-l searchbg">
            <img src="assets/images/search.png" alt="" />
        </div>

        <div class="sessionbg float-r">
            <span class="session">ADD DESK</span>
            <img src="assets/images/plus.png" alt="" />
        </div>
        <div class="clear"></div>
        <table class="table-desk">
                <thead>
                    <tr>
                        <th>Desk Number</th>
                        <th>Store Code</th>
                        <th>Created Date</th>
                        <th>Last Update</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>B1</td>
                        <td>1</td>
                        <td>Nov3,2019</td>
                        <td>Dec1,2019</td>
                        <td>
                                <div class="session session2 status float-l">
                                        <label class="switch">
                                          <input type="checkbox">
                                          <span class="slider round"></span>
                                        </label>
                                    </div>
                        </td>
                    </tr>
                    <tr>
                            <td>B1</td>
                            <td>1</td>
                            <td>Nov3,2019</td>
                            <td>Dec1,2019</td>
                            <td>
                                    <div class="session status float-l">
                                            <label class="switch">
                                              <input type="checkbox" checked>
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                            </td>
                        </tr>
                        <tr>
                                <td>B1</td>
                                <td>1</td>
                                <td>Nov3,2019</td>
                                <td>Dec1,2019</td>
                                <td>
                                        <div class="session session2 status float-l">
                                                <label class="switch">
                                                  <input type="checkbox">
                                                  <span class="slider round"></span>
                                                </label>
                                            </div>
                                </td>
                            </tr>
                            <tr>
                                    <td>B1</td>
                                    <td>1</td>
                                    <td>Nov3,2019</td>
                                    <td>Dec1,2019</td>
                                    <td>
                                            <div class="session status float-l">
                                                    <label class="switch">
                                                            <input type="checkbox" checked>
                                                      <span class="slider round"></span>
                                                    </label>
                                                </div>
                                    </td>
                                </tr>
                                <tr>
                                        <td>B1</td>
                                        <td>1</td>
                                        <td>Nov3,2019</td>
                                        <td>Dec1,2019</td>
                                        <td>
                                                <div class="session session2 status float-l">
                                                        <label class="switch">
                                                                <input type="checkbox" checked>
                                                          <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                        </td>
                                    </tr>
                </tbody>
            </table>
    </div>
</div>