#sidebar ul li a i {
  float: right;
  margin-left: 23px;
  margin-right: 0 !important;
}

#sidebar ul li.active > a {
  padding-right: 26px !important;
}

#sidebar ul li a {
  text-align: right !important;
}

.sidebar-wrapper.active ul li i {
  right: 10px;
  float: unset !important;
  margin-left: 0 !important;
  margin-right: 23px !important;
}

.sidebar-header-hamburger {
  right: 87% !important;
}

.sidebar-wrapper.active .sidebar-header-hamburger {
  right: 24px !important;
}

